body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #557571;
}
.container {
  display: flex;
  align-items: flex-end;
  width: 600px;
  height: 350px;
  margin: 130px auto;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 1.8);
  border-radius: 0.5cm;
  background-color: #4fbcb7;
}
.image {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 20px 30px;
}
.header {
  text-align: center;
  margin: 25px 0px 20px 62px;
  background-color: #f06751;
  width: 125px;
  height: 40px;
  border-radius: 0.2cm;
}
.login_img {
  width: 200px;
  height: 200px;
  margin: 0 0 20px 30px;
  border-radius: 0.25cm;
}
.loginForm {
  position: relative;
  margin-bottom: 5px 0 10px 0;
  padding: 50px 0px 70px 0px;
}
.form-group {
  margin-bottom: 20px;
}
.login-label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.login-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
}

.login-btn {
  font-size: 20px;
  width: 90px;
  height: 40px;
  padding: 10px;
  background-color: #006989;
  color: #ffffff;
  border: none;
  border-radius: 0.3cm;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #378ce7;
}

.forgot {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  margin: 10px 10px 10px 10px !important;
  right: -10px;
  bottom: 100px;
}

/* fogot passowrd */

.forgot-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 150px auto;
  padding: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 1.8);
  border-radius: 0.5cm;
  background-color: #4fbcb7;
}
.forgot-header {
  display: flex;
  background-color: #f06751;
  margin: 20px auto 10px;
  padding: 15px;
  border-radius: 0.2cm;
}
.forgot-form {
  position: relative;
  margin: 0px 0;
}
.group {
  display: flex;
  flex-direction: row;
  margin: 20px 0 10px 20px;
}
.forgot-lable {
  font-weight: bold;
  width: 137px;
}
.input-item {
  display: block;
  position: absolute;
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  margin: 0px auto;
  right: 20px;
}
.btn-class{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.forgot-btn {
  background-color: #f06751;
  /* margin: 30px 140px 0; */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}